.sidebarOptions{
    display: flex;
    align-items: center;
    cursor: pointer;
    

}
.sidebarOptions:hover{
    color:var(--twitter-color);
    border-radius: 20px;
    background-color: #e8f5fe;
    transition: all 0.3s ease;
    transform: translateX(20px);
}
.sidebarOptions > .MuiSvgIcon-root{
    padding: 20px;
}.sidebarOptions >h2{
    font-size: 20px;
    margin-right: 20px;
    font-weight: 600;
}
.sidebar_active{
    color:var(--twitter-color)
}