.sidebar{
    border-right: 1px solid var(--twitter-background);
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 250px;
    flex: 0.3;
}
.twitter_icon{
    margin-left: 20px !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    font-size: 30px !important;
    color:var(--twitter-color)
}


.sidebar_btn{
    margin-top: 20px !important;
    font-weight: 800 !important;
    border: none !important;
    border-radius:30px !important;
    background-color: var(--twitter-color) !important;
    color:white !important;
    text-transform: inherit !important;
    height: 50px !important ;
}
.sidebar_btn:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}