body{
    --twitter-color:#58b9ed;
    --twitter-background :#d0d6d9;

}

.app{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left:auto;
    margin-right: auto;
    padding:0 15px
}